<div class="my-16 p-16 bg-white dark:bg-red-900 flex justify-between items-center shadow-2xl rounded-lg">
  <div class="flex items-center flex-1">
    <div class="inline-block h-8 w-8 bg-blue-700 rounded-full mr-2 flex justify-center items-center">M</div>
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <p class="text-sm flex-1">Marko on kova koodari_äiä. Tähän sit paljon enemmän sisältöä Markosta. Historiaa, osaamista, kiinnostukset jne.</p>
</div>