---
layout: main
---
{% if subtitle != "" %}
<h1 class="text-5xl md:text-6xl font-black pt-10 md:pt-20 leading-tight">
 {{ title }}
</h1>
<p class="text-5xl md:text-6xl font-light pb-10 md:pb-20 leading-tight">
 {{ subtitle }}
</p>

{% else %}
<h1 class="text-5xl md:text-6xl font-black py-10 md:py-20 leading-tight">
 {{ title }}
</h1>

{% endif %}

{% include "nav.njk" %}

{{ content | safe}}