<section class="py-16">
  <h1 class="text-3xl xs:text-4xl sm:text-5xl font-black py-8 flex justify-center text-center">Professional projects</h1>

{% for project in collections.project %}
{% if project.data.published %}
  <a href="{{ project.url }}">
  <article class="my-8 flex rounded-lg transform hover:-translate-y-4 shadow-md glass-bg border-transparent border-2 hover:shadow-2xl dark:bg-gray-900">
    <section class="m-4 hidden sm:block h-full bg-arctic-800"><img src="https://placehold.co/300x300">
    </section>
    <section class="m-4 sm:my-4 sm:mr-0 sm:ml-2">
      <h1 class="text-2xl sm:text-4xl font-bold leading-tight block">{{ project.data.title }}</h1>
      <p class="mt-4 prose prose-arctic dark:prose prose-arctic-invert block">{{project.data.description | safe}}</p>
      
      <div class="flex justify-between items-center mt-4 ">
        <div class="flex-1 self-end">
          {% for tag in project.data.tags %}
              <div class="post-tag project-tag text-dark">{{ tag }}</div>
          {% endfor %}
        </div>
      </div>
    </section>
  </article>

  </a>
{% endif %}
{% endfor %}
</section>