---
layout: page
---
<h1 class="text-5xl md:text-6xl font-black pt-10 md:pt-30 pb-4 leading-tight">
    {{ title}}
</h1>

<div class="mt-3 pb-10">
  {% for tag in tags %}
    <span class="post-tag project-tag">{{ tag }}</span>
  {% endfor %}
  </div>

<div class="prose prose-custom dark:prose prose-custom-invert hover:prose prose-custom-a:text-blue-500 mb-16">
  {{ content | safe }}
</div>

{% include "author.njk" %}