---
layout: main
title: Hello there!
subtitle: I'm Marko Tuominen
pagination:
  data: collections.all
  size: 999
  reverse: true
  alias: posts
---

{% if site.authorSection %}
  {% include "author.njk" %}
{% endif %}

{% if site.projectExcerpt %}
  {% include "projectPosts.njk" %}
  {% include "hobbyPosts.njk" %}
{% else %}
  {% include "projectSection.njk" %}
  {% include "hobbySection.njk" %}
{% endif %}

{% if pagination.items.length >= pagination.size %}
  {% include "paginator.njk" %}
{% endif %}
