* {
 transition: 0.2s ease;
}

.header-anchor {
  text-decoration: none!important;
}

h1 > a.header-anchor {
  font-weight: 800;
}

h2 > a.header-anchor {
  font-weight: 700;
}

.project-tag {
background: linear-gradient(to right bottom, rgb(153, 246, 228), rgb(101, 197, 181))
}

.nav-active {
color: hotpink;
}

.nav-active::before {
content: '> ';
}